$body-min-width: 1000px;
$main-content-max-width: 1072px;
$theme-color: #d33a31;
// #d33a31
$header-height: 53px;
$menu-width: 260px;

//miniPlayer
$miniPlayer-height: 64px;
$mini-player-z-index: 1002;

//playlist
// $playlist-z-index: 1001;

//search
$search-panel-z-index: 1001;

//song-detail
$song-detail-z-index: 1000;
